# Environment
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
.next/
out/

# Logs
*.log
logs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
coverage/

# Docker
*.pid

# Prisma
*.db
*.db-journal
